<html>

<% function removeHTMLTags(html) { var regX=/(<([^>]+)>)/ig;
    return html.replace(regX, "")
    }
    %>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Infinity ltd">
        <meta name="keyword" content="<%- title %>">
        <meta name="promotion" content="<%- removeHTMLTags(content) %>">
        <meta name="Description" content="<%- removeHTMLTags(content) %>">

        <meta property="og:url" content="<%- url %>" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%- title %>" />
        <meta property="og:description" content="<%- removeHTMLTags(content) %>" />
        <meta property="og:image" content="<%- image %>" />

        <title>Blogs | 247 Nail Salons - Tim Tho Nail | Ban Tiem Nail | Mua Ban Nail Supply</title>
        <link href="../views/client/dist/images/icon.png" rel="shortcut icon">

        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="../views/client/dist/css/app.css" />
        <link rel="stylesheet" href="../views/client/dist/css/blog.css" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <!-- END: CSS Assets-->
        <script src="../views/client/dist/js/jquery.min.js"></script>
    </head>

    <body>
        <%- include("header-blog"); %>

            <div style="background-image: url(../views/client/dist/images/blog-bg.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
                <div class="container p-5">

                    <div style="min-height: 500px;display: flex;align-items: center;">
                        <div>
                            <h2 style="font-family: 'Quentin', sans-serif;font-weight: 400;font-size: 35px;">247 Beauty</h2>
                            <h1 style="font-family: 'Raleway', sans-serif;font-weight: 200;font-size: 80px;line-height: 1.2em;">
                                Blog Grid</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="container p-5">

                    <div style="position: absolute; right: 0;" class="elementor-element elementor-element-e7c77dd elementor-widget__width-auto elementor-absolute elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-image" data-id="e7c77dd" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image">
                                <img width="204" height="389" src="https://g2h4v2c9.stackpathcdn.com/themes/cosmecos-new/wp-content/uploads/2020/12/bg-pricing-section-3-2.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://g2h4v2c9.stackpathcdn.com/themes/cosmecos-new/wp-content/uploads/2020/12/bg-pricing-section-3-2.png 204w, https://g2h4v2c9.stackpathcdn.com/themes/cosmecos-new/wp-content/uploads/2020/12/bg-pricing-section-3-2-157x300.png 157w"
                                    sizes="(max-width: 204px) 100vw, 204px">
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-6" id="container_blogs">
                    </div>
                </div>
            </div>

            <script>
                let blogs = '<%- blogs %>'
                blogs = JSON.parse(blogs)

                let pageBlogs = ''

                for (let i = 0; i < blogs.length; i++) {
                    pageBlogs += '<div class="col-span-12 sm:col-span-6 xl:col-span-4 box p-10"><a class="post-category-item">BodyCare</a><div class="zoom-in"><div><a href="../blog/' + blogs[i].link_slug + '"><img src="../public/images-blogs/' + blogs[i].image_title + '" /></a></div></div><div class="grid grid-cols-12 mt-10"><div class="col-span-12" style="text-transform: uppercase;color: #969696;">' + new Date(blogs[i].createdAt) + '</div></div><div class="mt-5"><a class="ellipsis-2" href="../blog/' + blogs[i].link_slug + '" style="box-shadow: none;text-decoration: none;color: #232323;line-height: 1.5em;font-weight: 400;font-size: 24px;">' + blogs[i].title + '</a></div><div class="mt-5"><a class="read_more_tag" href="../blog/' + blogs[i].link_slug + '" style="color: #eaaa85;text-transform: uppercase;">READ MORE</a></div></div>'
                }

                $('#container_blogs').html(pageBlogs)
            </script>
    </body>

</html>