<html>

<% function removeHTMLTags(html) { var regX=/(<([^>]+)>)/ig;
    return html.replace(regX, "")
    }
    %>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Infinity ltd">
        <meta name="keyword" content="<%- title %>">
        <meta name="promotion" content="<%- removeHTMLTags(content) %>">
        <meta name="Description" content="<%- removeHTMLTags(content) %>">

        <meta property="og:url" content="<%- url %>" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%- title %>" />
        <meta property="og:description" content="<%- removeHTMLTags(content) %>" />
        <meta property="og:image" content="<%- image %>" />

        <title>
            <%- title %>
        </title>
        <link href="../views/client/dist/images/icon.png" rel="shortcut icon">

        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="../views/client/dist/css/app.css" />
        <link rel="stylesheet" href="../views/client/dist/css/blog.css" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

        <!-- END: CSS Assets-->

        <script src="../views/client/dist/js/jquery.min.js"></script>

    </head>

    <body>

        <%- include("header-blog"); %>

            <div style="background-image: url(../views/client/dist/images/blog-bg.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
                <div class="container p-5">

                    <div style="min-height: 500px;display: flex;align-items: center;">
                        <div>
                            <h2 style="font-family: 'Quentin', sans-serif;font-weight: 400;font-size: 35px;">247 Beauty</h2>
                            <h1 style="font-family: 'Raleway', sans-serif;font-weight: 200;font-size: 80px;line-height: 1.2em;">
                                Blog</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="container p-5">

                    <div class="grid grid-cols-12 gap-6">
                        <div class="col-span-12 xl:col-span-9" style="position: relative;">

                            <a class="post-category-item">BodyCare</a>

                            <div>
                                <img src="<%- image %>" />
                            </div>

                            <div class="post-meta-header mb-5 mt-5" id="container_date_post">

                            </div>

                            <h1 class="post-title" style="font-size: 38px;line-height: 1.4737em;">
                                <%- title %>
                            </h1>

                            <h3 class="post-content">
                                <%- content %>
                            </h3>

                        </div>

                        <div class="col-span-12 xl:col-span-3">

                            <h4 class="widget-title">
                                <span style="font-size: 2rem;">Latest Posts</span>
                            </h4>

                            <div id="container_blogs_relate">

                            </div>


                            <div class="widget-wrapper">
                                <h4 class="widget-title mt-5">
                                    <span style="font-size: 2rem;">Tags</span>
                                </h4>
                                <div class="tagcloud" id="container_tags">
                                </div>
                            </div>

                            <div class="widget-wrapper">
                                <div class="banner-widget-wrapper" style="position: relative; max-width: 250px;margin-top: 120px;">
                                    <img style="z-index: -1;top: -100px;" src="https://g2h4v2c9.stackpathcdn.com/themes/cosmecos-new/wp-content/uploads/2021/02/bg-banner-standard.jpg">

                                    <p class="text-center banner-title">Contact Us</p>
                                    <p class="text-center mt-3">Smelt-whiting burbot lown loach stonecat electric ish coley roosterfish fish forehead brooder</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                let related = '<%- relate %>'
                let tags = '<%- tags %>'
                related = JSON.parse(related)
                let pageRelate = ''
                let pageTags = ''
                for (let i = 0; i < related.length; i++) {
                    pageRelate += '<div class="grid grid-cols-3 gap-6 mt-4"><div class="col-span-1"><img width="100%" src="../public/images-blogs/' + related[i].image_title + '" /></div><div class="col-span-2"><div><a class="featured-posts-item-link" href="../blog/' + related[i].link_slug + '">' + related[i].title + '</a></div><div class="featured-posts-item-date mt-4">' + new Date(related[i].createdAt) + '</div></div></div>'
                }

                $('#container_blogs_relate').html(pageRelate)

                if (tags) {
                    tags = tags.split(',')
                    for (let i = 0; i < tags.length; i++) {
                        pageTags += '<h2 class="tag-cloud-link">' + tags[i] + '</h2>'
                        $('#container_tags').html(pageTags)
                    }
                }

                let createdAtBlog = '<%- createdAt %>'

                $('#container_date_post').html('<div class="post-meta-item post-meta-item-date"><a>' + new Date(createdAtBlog) + ' by admin</a></div>')
            </script>
    </body>

</html>