<!DOCTYPE html>
<html lang="en">
    <%
    function removeHTMLTags(html) {
        var regX = /(<([^>]+)>)/ig;
        return html.replace(regX, "")
    }
    %>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Infinity ltd">
    <meta name="keyword" content="<%- title %>">
    <meta name="promotion" content="<%- removeHTMLTags(promotion) %>">
    <meta name="Description" content="<%- removeHTMLTags(content) %>">

    <meta property="og:url" content="<%- url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:description" content="<%- removeHTMLTags(content) %>" />
    <meta property="og:image" content="<%- image %>" />

    <link href="../views/client/dist/images/icon.png" rel="shortcut icon">
    <title>247 Nail Salons - Tim Tho Nail | Ban Tiem Nail | Mua Ban Nail Supply</title>

    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="../views/client/dist/css/app.css" />
    <link rel="stylesheet" href="../views/client/dist/css/home.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- END: CSS Assets-->

    <script src="../views/client/dist/js/jquery.min.js"></script>
    <script src="./../../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="../views/client/dist/js/helper.js"></script>

    <script src="../views/client/dist/js/sha512.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>


    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyByAN0Lwe4gjsXn3oSUqIIHdkZYrYKVCqY",
            authDomain: "nailsalons-60488.firebaseapp.com",
            projectId: "nailsalons-60488",
            storageBucket: "nailsalons-60488.appspot.com",
            messagingSenderId: "385953410674",
            appId: "1:385953410674:web:93eb4c5025e5e1a3891ceb",
            measurementId: "G-V62BPYJJXX"
        }
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>


</head>

<body class="main">

    <%- include("tag-install-app"); %>
    
    <div class="header">
        <div>
            <div>
                <div style="position: relative; height: 12rem;">
                    <div class="logo pt-5">
                        <a href="/">
                            <img src="../views/client/dist/images/logo.png" />
                        </a>

                    </div>

                    <div class="mt-10 menu-right">
                        <button id="btn_toggle_dialog" class="btn btn-rounded-success mr-5 text-white p-3"
                            style="background-color: #6bab44;">
                            <i class="far fa-user mr-2"></i>Sign in / Sign up
                        </button>

                        <a style="position: absolute; cursor: pointer;" onclick="openNav()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-align-left block mx-auto">
                                <line x1="17" y1="10" x2="3" y2="10"></line>
                                <line x1="21" y1="6" x2="3" y2="6"></line>
                                <line x1="21" y1="14" x2="3" y2="14"></line>
                                <line x1="17" y1="18" x2="3" y2="18"></line>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <h1 class="text-center font-medium mt-5 intro-y" style="font-size: 3rem;">
                Make Everything As Simple
            </h1>

            <h2 class="text-center font-small mt-8 intro-y"
                style="font-size: 1rem; margin-left: 2rem; margin-right: 2rem;">
                Find a Job, Salon for Sale, Nail Supply and more
            </h2>

            <div class="mt-10 intro-y" style="z-index: 1000;">
                <div class="container sm:px-10">
                    <div class="box grid grid-cols-12 pt-1 pb-1 search-box">
                        <div class="col-span-12 xl:col-span-3 box">
                            <select id="select_categories" class="form-select p-3 no-border"
                                style="background-color: white;" aria-label="Default select example">
                                <option value="find-job">Find a Job</option>
                                <option value="sell-salon">Salon for Sale</option>
                                <option value="nail-supply">Nail Supplies</option>
                            </select>
                        </div>

                        <div class="col-span-12 xl:col-span-9">
                            <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                                <div class="relative text-gray-700 dark:text-gray-300">
                                    <svg style="z-index: 100;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="ml-4 feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 lefr-0">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                    <input id="keyword" autocomplete="off" type="text" oninput="onSearch(this.value)"
                                        style="padding-right: 4.5rem;" name="prevent_autofill" autocorrect="off"
                                        aria-autocomplete="both" aria-haspopup="false" autocapitalize="off"
                                        role="presentation"
                                        class="p-3 h-full form-control pl-10 w-full box pr-10 placeholder-theme-13 no-border"
                                        placeholder="Search a Job by City or Zipcode">
                                    <span>
                                        <svg style="cursor: pointer;" onclick="showFilter()"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ef4c8c" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                        </svg>
                                    </span>
                                    <span id="container_clear_filter" style="display: none;">
                                        <svg style="cursor: pointer;position: absolute;right: 2rem !important;"
                                            onclick="clearFilter()" xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                        </svg>
                                    </span>
                                </div>
                            </div>

                            <div class="grid grid-cols-12" id="container_fillter" style=" display: none;">
                                <div class="col-span-6">
                                    <div class="relative text-gray-700 dark:text-gray-300 ml-4"
                                        id="container_filter_ranger" onclick="filterRanger()">
                                        <img class="mt-2"
                                            style="cursor: pointer;z-index: 100; width: auto; height: 24px; position: absolute;"
                                            src="../views/client/dist/images/distance.png" />
                                        <input type="text" style="cursor: pointer;background: white;" disabled
                                            class="p-3 h-full form-control pl-10 w-full box pr-10 placeholder-theme-13 no-border"
                                            value="Radius Ranger">
                                    </div>
                                </div>

                                <div class="col-span-12">
                                    <div class="relative text-gray-700 dark:text-gray-300 ml-4">
                                        <img class="mt-2"
                                            style="cursor: pointer;z-index: 100; width: auto; height: 24px; position: absolute;"
                                            src="../views/client/dist/images/salary.png" />
                                        <select class="form-select p-3 no-border pl-5" id="select_range_salary"
                                            style="background-color: white;" aria-label="Default select example">
                                            <option value="0" selected>Salary</option>
                                            <option value="1">0$ - 500$</option>
                                            <option value="2">500$ - 1,000$</option>
                                            <option value="3">1,000$ - 2,000$</option>
                                            <option value="4">2,000$ up</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="search-box" id="container_drop_result">
                        <div class="relative text-gray-700 dark:text-gray-300" style="right: 0; left: 0;display: none;">
                        </div>
                    </div>

                </div>
            </div>

            <h2 class="text-center mt-8 intro-y" style="font-size: 0.8rem;margin-left: 2rem;margin-right: 2rem;">
                Click on the filter to search by salary and city
            </h2>

            <div class="text-center wrap-download-app intro-y" style="margin-left: 2rem;
            margin-right: 2rem;">
                <a href="https://apps.apple.com/app/id1586456191">
                    <img src="../views/client/dist/images/AS.png">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.smartsalonsllc.nailsalons247">
                    <img src="../views/client/dist/images/GGP.png">
                </a>
            </div>
        </div>
    </div>

    <div class="footer box intro-y">
        <div class="text-center font-medium pt-10 pb-10" style="font-size: 2rem;">
            More Information
        </div>

        <div class="grid grid-cols-12 gap-6 pb-10">
            <div class="col-span-12 xl:col-span-4">
                <a href="../search?categories=find-job" style="position: relative;">
                    <img loading="lazy" class="w-full" src="../views/client/dist/images//album-post-1.png">
                    <div class="text-center">
                        <h2 style="font-size: 1.1rem;font-weight: bold;">Find a Job</h2>
                    </div>
                </a>
            </div>
            <div class="col-span-12 xl:col-span-4">
                <a href="../search?categories=sell-salon" style="position: relative;">
                    <img loading="lazy" class="w-full" src="../views/client/dist/images//album-post-2.png">
                    <div class="text-center">
                        <h2 style="font-size: 1.1rem;font-weight: bold;">Salon for Sale</h2>
                    </div>
                </a>
            </div>
            <div class="col-span-12 xl:col-span-4">
                <a href="../search?categories=nail-supply" style="position: relative;">
                    <img loading="lazy" class="w-full" src="../views/client/dist/images//album-post-3.png">
                    <div class="text-center">
                        <h2 style="font-size: 1.1rem;font-weight: bold;">Nail Supply</h2>
                    </div>
                </a>
            </div>

        </div>

        <div class="text-center p-4"
            style="font-size: 9pt;color: #999;text-align: center;clear: both;font-family: Arial;margin-bottom: 10px;">
            Copyright © 247 Nail Salons. All rights reserved
        </div>
    </div>

    <%- include("nav-left"); %>

        <div id="modal_signin_signup" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="grid grid-cols-12">
                        <div class="col-span-12 xl:col-span-6 bg-primary" style="border-radius: 0.5rem; padding: 2rem;">
                            <h2 id="lbl_welcome" class="text-white font-medium my-5" style="font-size: 1.5rem;">
                            </h2>

                            <h1 id="lbl_name" class="text-white font-medium" style="font-size: 2rem;padding-bottom: 3rem;
                        padding-top: 0rem;">
                            </h1>

                            <h2 id="lbl_title" class="text-white font-medium" style="font-size: 1rem;">
                            </h2>

                            <ul class="mt-2" id="lbl_contents">

                            </ul>
                        </div>

                        <form class="col-span-12 xl:col-span-6">


                            <div style="border-radius: 0.5rem; padding: 2rem;">
                                <button style="position: absolute;right: 0.7rem;top: 0.3rem;"
                                    onclick="toggleModalSignInSignUp()" type="button" class="close no-border"
                                    data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="no-border" style="font-size: 1.3rem;">&times;</span>
                                </button>

                                <div class="text-dark" style="font-size: 1.1rem;">
                                    Sign In / Sign Up
                                </div>

                                <div class="text-dark divider" style="font-size: 0.8rem;">
                                    <span style="background: white;padding: 0.4rem;">
                                        OR
                                    </span>
                                </div>

                                <div class="nav nav-tabs flex-col sm:flex-row justify-center lg:justify-start"
                                    role="tablist" style="display: flex;">
                                    <a onclick="changeSignIn()" id="dashboard-tab" data-toggle="tab"
                                        data-target="#dashboard" href="javascript:;" class="pb-2 pt-5 active" role="tab"
                                        aria-controls="dashboard" style="flex: 1;" aria-selected="true">Sign In</a>
                                    <a onclick="changeSignUp()" id="account-and-profile-tab" data-toggle="tab"
                                        data-target="#account-and-profile" style="flex: 1;" href="javascript:;"
                                        class="pb-2 pt-5" role="tab" aria-selected="false">Sign Up</a>
                                </div>

                                <div class="w-full sm:w-auto mt-3 box mt-2">
                                    <div class="relative text-gray-700 dark:text-gray-300 box" style="display: flex;">
                                        <select name="countryCode" id="select_phone_country" class="box p-3"
                                            style="max-width: 7rem;">
                                            <option data-countryCode="GB" value="44">UK (+44)</option>
                                            <option data-countryCode="US" selected value="1">USA (+1)</option>
                                            <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                                            <option data-countryCode="AD" value="376">Andorra (+376)</option>
                                            <option data-countryCode="AO" value="244">Angola (+244)</option>
                                            <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
                                            <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)
                                            </option>
                                            <option data-countryCode="AR" value="54">Argentina (+54)</option>
                                            <option data-countryCode="AM" value="374">Armenia (+374)</option>
                                            <option data-countryCode="AW" value="297">Aruba (+297)</option>
                                            <option data-countryCode="AU" value="61">Australia (+61)</option>
                                            <option data-countryCode="AT" value="43">Austria (+43)</option>
                                            <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
                                            <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
                                            <option data-countryCode="BH" value="973">Bahrain (+973)</option>
                                            <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
                                            <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
                                            <option data-countryCode="BY" value="375">Belarus (+375)</option>
                                            <option data-countryCode="BE" value="32">Belgium (+32)</option>
                                            <option data-countryCode="BZ" value="501">Belize (+501)</option>
                                            <option data-countryCode="BJ" value="229">Benin (+229)</option>
                                            <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
                                            <option data-countryCode="BT" value="975">Bhutan (+975)</option>
                                            <option data-countryCode="BO" value="591">Bolivia (+591)</option>
                                            <option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</option>
                                            <option data-countryCode="BW" value="267">Botswana (+267)</option>
                                            <option data-countryCode="BR" value="55">Brazil (+55)</option>
                                            <option data-countryCode="BN" value="673">Brunei (+673)</option>
                                            <option data-countryCode="BG" value="359">Bulgaria (+359)</option>
                                            <option data-countryCode="BF" value="226">Burkina Faso (+226)</option>
                                            <option data-countryCode="BI" value="257">Burundi (+257)</option>
                                            <option data-countryCode="KH" value="855">Cambodia (+855)</option>
                                            <option data-countryCode="CM" value="237">Cameroon (+237)</option>
                                            <option data-countryCode="CA" value="1">Canada (+1)</option>
                                            <option data-countryCode="CV" value="238">Cape Verde Islands (+238)</option>
                                            <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
                                            <option data-countryCode="CF" value="236">Central African Republic (+236)
                                            </option>
                                            <option data-countryCode="CL" value="56">Chile (+56)</option>
                                            <option data-countryCode="CN" value="86">China (+86)</option>
                                            <option data-countryCode="CO" value="57">Colombia (+57)</option>
                                            <option data-countryCode="KM" value="269">Comoros (+269)</option>
                                            <option data-countryCode="CG" value="242">Congo (+242)</option>
                                            <option data-countryCode="CK" value="682">Cook Islands (+682)</option>
                                            <option data-countryCode="CR" value="506">Costa Rica (+506)</option>
                                            <option data-countryCode="HR" value="385">Croatia (+385)</option>
                                            <option data-countryCode="CU" value="53">Cuba (+53)</option>
                                            <option data-countryCode="CY" value="90392">Cyprus North (+90392)</option>
                                            <option data-countryCode="CY" value="357">Cyprus South (+357)</option>
                                            <option data-countryCode="CZ" value="42">Czech Republic (+42)</option>
                                            <option data-countryCode="DK" value="45">Denmark (+45)</option>
                                            <option data-countryCode="DJ" value="253">Djibouti (+253)</option>
                                            <option data-countryCode="DM" value="1809">Dominica (+1809)</option>
                                            <option data-countryCode="DO" value="1809">Dominican Republic (+1809)
                                            </option>
                                            <option data-countryCode="EC" value="593">Ecuador (+593)</option>
                                            <option data-countryCode="EG" value="20">Egypt (+20)</option>
                                            <option data-countryCode="SV" value="503">El Salvador (+503)</option>
                                            <option data-countryCode="GQ" value="240">Equatorial Guinea (+240)</option>
                                            <option data-countryCode="ER" value="291">Eritrea (+291)</option>
                                            <option data-countryCode="EE" value="372">Estonia (+372)</option>
                                            <option data-countryCode="ET" value="251">Ethiopia (+251)</option>
                                            <option data-countryCode="FK" value="500">Falkland Islands (+500)</option>
                                            <option data-countryCode="FO" value="298">Faroe Islands (+298)</option>
                                            <option data-countryCode="FJ" value="679">Fiji (+679)</option>
                                            <option data-countryCode="FI" value="358">Finland (+358)</option>
                                            <option data-countryCode="FR" value="33">France (+33)</option>
                                            <option data-countryCode="GF" value="594">French Guiana (+594)</option>
                                            <option data-countryCode="PF" value="689">French Polynesia (+689)</option>
                                            <option data-countryCode="GA" value="241">Gabon (+241)</option>
                                            <option data-countryCode="GM" value="220">Gambia (+220)</option>
                                            <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
                                            <option data-countryCode="DE" value="49">Germany (+49)</option>
                                            <option data-countryCode="GH" value="233">Ghana (+233)</option>
                                            <option data-countryCode="GI" value="350">Gibraltar (+350)</option>
                                            <option data-countryCode="GR" value="30">Greece (+30)</option>
                                            <option data-countryCode="GL" value="299">Greenland (+299)</option>
                                            <option data-countryCode="GD" value="1473">Grenada (+1473)</option>
                                            <option data-countryCode="GP" value="590">Guadeloupe (+590)</option>
                                            <option data-countryCode="GU" value="671">Guam (+671)</option>
                                            <option data-countryCode="GT" value="502">Guatemala (+502)</option>
                                            <option data-countryCode="GN" value="224">Guinea (+224)</option>
                                            <option data-countryCode="GW" value="245">Guinea - Bissau (+245)</option>
                                            <option data-countryCode="GY" value="592">Guyana (+592)</option>
                                            <option data-countryCode="HT" value="509">Haiti (+509)</option>
                                            <option data-countryCode="HN" value="504">Honduras (+504)</option>
                                            <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
                                            <option data-countryCode="HU" value="36">Hungary (+36)</option>
                                            <option data-countryCode="IS" value="354">Iceland (+354)</option>
                                            <option data-countryCode="IN" value="91">India (+91)</option>
                                            <option data-countryCode="ID" value="62">Indonesia (+62)</option>
                                            <option data-countryCode="IR" value="98">Iran (+98)</option>
                                            <option data-countryCode="IQ" value="964">Iraq (+964)</option>
                                            <option data-countryCode="IE" value="353">Ireland (+353)</option>
                                            <option data-countryCode="IL" value="972">Israel (+972)</option>
                                            <option data-countryCode="IT" value="39">Italy (+39)</option>
                                            <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
                                            <option data-countryCode="JP" value="81">Japan (+81)</option>
                                            <option data-countryCode="JO" value="962">Jordan (+962)</option>
                                            <option data-countryCode="KZ" value="7">Kazakhstan (+7)</option>
                                            <option data-countryCode="KE" value="254">Kenya (+254)</option>
                                            <option data-countryCode="KI" value="686">Kiribati (+686)</option>
                                            <option data-countryCode="KP" value="850">Korea North (+850)</option>
                                            <option data-countryCode="KR" value="82">Korea South (+82)</option>
                                            <option data-countryCode="KW" value="965">Kuwait (+965)</option>
                                            <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
                                            <option data-countryCode="LA" value="856">Laos (+856)</option>
                                            <option data-countryCode="LV" value="371">Latvia (+371)</option>
                                            <option data-countryCode="LB" value="961">Lebanon (+961)</option>
                                            <option data-countryCode="LS" value="266">Lesotho (+266)</option>
                                            <option data-countryCode="LR" value="231">Liberia (+231)</option>
                                            <option data-countryCode="LY" value="218">Libya (+218)</option>
                                            <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
                                            <option data-countryCode="LT" value="370">Lithuania (+370)</option>
                                            <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
                                            <option data-countryCode="MO" value="853">Macao (+853)</option>
                                            <option data-countryCode="MK" value="389">Macedonia (+389)</option>
                                            <option data-countryCode="MG" value="261">Madagascar (+261)</option>
                                            <option data-countryCode="MW" value="265">Malawi (+265)</option>
                                            <option data-countryCode="MY" value="60">Malaysia (+60)</option>
                                            <option data-countryCode="MV" value="960">Maldives (+960)</option>
                                            <option data-countryCode="ML" value="223">Mali (+223)</option>
                                            <option data-countryCode="MT" value="356">Malta (+356)</option>
                                            <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
                                            <option data-countryCode="MQ" value="596">Martinique (+596)</option>
                                            <option data-countryCode="MR" value="222">Mauritania (+222)</option>
                                            <option data-countryCode="YT" value="269">Mayotte (+269)</option>
                                            <option data-countryCode="MX" value="52">Mexico (+52)</option>
                                            <option data-countryCode="FM" value="691">Micronesia (+691)</option>
                                            <option data-countryCode="MD" value="373">Moldova (+373)</option>
                                            <option data-countryCode="MC" value="377">Monaco (+377)</option>
                                            <option data-countryCode="MN" value="976">Mongolia (+976)</option>
                                            <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
                                            <option data-countryCode="MA" value="212">Morocco (+212)</option>
                                            <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
                                            <option data-countryCode="MN" value="95">Myanmar (+95)</option>
                                            <option data-countryCode="NA" value="264">Namibia (+264)</option>
                                            <option data-countryCode="NR" value="674">Nauru (+674)</option>
                                            <option data-countryCode="NP" value="977">Nepal (+977)</option>
                                            <option data-countryCode="NL" value="31">Netherlands (+31)</option>
                                            <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
                                            <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
                                            <option data-countryCode="NI" value="505">Nicaragua (+505)</option>
                                            <option data-countryCode="NE" value="227">Niger (+227)</option>
                                            <option data-countryCode="NG" value="234">Nigeria (+234)</option>
                                            <option data-countryCode="NU" value="683">Niue (+683)</option>
                                            <option data-countryCode="NF" value="672">Norfolk Islands (+672)</option>
                                            <option data-countryCode="NP" value="670">Northern Marianas (+670)</option>
                                            <option data-countryCode="NO" value="47">Norway (+47)</option>
                                            <option data-countryCode="OM" value="968">Oman (+968)</option>
                                            <option data-countryCode="PW" value="680">Palau (+680)</option>
                                            <option data-countryCode="PA" value="507">Panama (+507)</option>
                                            <option data-countryCode="PG" value="675">Papua New Guinea (+675)</option>
                                            <option data-countryCode="PY" value="595">Paraguay (+595)</option>
                                            <option data-countryCode="PE" value="51">Peru (+51)</option>
                                            <option data-countryCode="PH" value="63">Philippines (+63)</option>
                                            <option data-countryCode="PL" value="48">Poland (+48)</option>
                                            <option data-countryCode="PT" value="351">Portugal (+351)</option>
                                            <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
                                            <option data-countryCode="QA" value="974">Qatar (+974)</option>
                                            <option data-countryCode="RE" value="262">Reunion (+262)</option>
                                            <option data-countryCode="RO" value="40">Romania (+40)</option>
                                            <option data-countryCode="RU" value="7">Russia (+7)</option>
                                            <option data-countryCode="RW" value="250">Rwanda (+250)</option>
                                            <option data-countryCode="SM" value="378">San Marino (+378)</option>
                                            <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)
                                            </option>
                                            <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
                                            <option data-countryCode="SN" value="221">Senegal (+221)</option>
                                            <option data-countryCode="CS" value="381">Serbia (+381)</option>
                                            <option data-countryCode="SC" value="248">Seychelles (+248)</option>
                                            <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
                                            <option data-countryCode="SG" value="65">Singapore (+65)</option>
                                            <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
                                            <option data-countryCode="SI" value="386">Slovenia (+386)</option>
                                            <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
                                            <option data-countryCode="SO" value="252">Somalia (+252)</option>
                                            <option data-countryCode="ZA" value="27">South Africa (+27)</option>
                                            <option data-countryCode="ES" value="34">Spain (+34)</option>
                                            <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
                                            <option data-countryCode="SH" value="290">St. Helena (+290)</option>
                                            <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
                                            <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
                                            <option data-countryCode="SD" value="249">Sudan (+249)</option>
                                            <option data-countryCode="SR" value="597">Suriname (+597)</option>
                                            <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
                                            <option data-countryCode="SE" value="46">Sweden (+46)</option>
                                            <option data-countryCode="CH" value="41">Switzerland (+41)</option>
                                            <option data-countryCode="SI" value="963">Syria (+963)</option>
                                            <option data-countryCode="TW" value="886">Taiwan (+886)</option>
                                            <option data-countryCode="TJ" value="7">Tajikstan (+7)</option>
                                            <option data-countryCode="TH" value="66">Thailand (+66)</option>
                                            <option data-countryCode="TG" value="228">Togo (+228)</option>
                                            <option data-countryCode="TO" value="676">Tonga (+676)</option>
                                            <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)
                                            </option>
                                            <option data-countryCode="TN" value="216">Tunisia (+216)</option>
                                            <option data-countryCode="TR" value="90">Turkey (+90)</option>
                                            <option data-countryCode="TM" value="7">Turkmenistan (+7)</option>
                                            <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
                                            <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands
                                                (+1649)
                                            </option>
                                            <option data-countryCode="TV" value="688">Tuvalu (+688)</option>
                                            <option data-countryCode="UG" value="256">Uganda (+256)</option>
                                            <!-- <option data-countryCode="GB" value="44">UK (+44)</option> -->
                                            <option data-countryCode="UA" value="380">Ukraine (+380)</option>
                                            <option data-countryCode="AE" value="971">United Arab Emirates (+971)
                                            </option>
                                            <option data-countryCode="UY" value="598">Uruguay (+598)</option>
                                            <!-- <option data-countryCode="US" value="1">USA (+1)</option> -->
                                            <option data-countryCode="UZ" value="7">Uzbekistan (+7)</option>
                                            <option data-countryCode="VU" value="678">Vanuatu (+678)</option>
                                            <option data-countryCode="VA" value="379">Vatican City (+379)</option>
                                            <option data-countryCode="VE" value="58">Venezuela (+58)</option>
                                            <option data-countryCode="VN" value="84">Vietnam (+84)</option>
                                            <option data-countryCode="VG" value="84">Virgin Islands - British (+1284)
                                            </option>
                                            <option data-countryCode="VI" value="84">Virgin Islands - US (+1340)
                                            </option>
                                            <option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)
                                            </option>
                                            <option data-countryCode="YE" value="969">Yemen (North)(+969)</option>
                                            <option data-countryCode="YE" value="967">Yemen (South)(+967)</option>
                                            <option data-countryCode="ZM" value="260">Zambia (+260)</option>
                                            <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
                                        </select>

                                        <input id="edt_phone" autocomplete="off" type="text"
                                            class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border"
                                            placeholder="* Phone number" name="phone">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div id="lbl_error_phone" class="text-right color-primary mt-2"
                                        style="display: none;">
                                        Invalid phone or password</div>
                                </div>

                                <div id="container_email" class="w-full sm:w-auto mt-3 box mt-2" style="display: none;">
                                    <div class="relative text-gray-700 dark:text-gray-300 box">
                                        <input id="edt_email" autocomplete="off" type="text" name="email"
                                            class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border"
                                            placeholder="* Email">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                            <path
                                                d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                            </path>
                                            <polyline points="22,6 12,13 2,6"></polyline>
                                        </svg>
                                    </div>
                                </div>

                                <div class="w-full sm:w-auto mt-3 box mt-2">
                                    <div class="relative text-gray-700 dark:text-gray-300 box">
                                        <svg style="z-index: 100;" xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                            class="ml-4 feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 lefr-0">
                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                        </svg>
                                        <input id="edt_password" autocomplete="off" type="password" name="password"
                                            class="p-3 h-full form-control pl-10 w-full box pr-10 placeholder-theme-13 no-border"
                                            placeholder="* Password">
                                        <svg id="icon_show" onclick="showPassword()" style="cursor: pointer;"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                            <path
                                                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24">
                                            </path>
                                            <line x1="1" y1="1" x2="23" y2="23"></line>
                                        </svg>
                                    </div>
                                </div>

                                <div id="container_phone_code" class="w-full sm:w-auto mt-3 box mt-2"
                                    style="display: none;">
                                    <div class="relative text-gray-700 dark:text-gray-300 box">
                                        <input oninput="onConfirmCode()" id="edt_phone_code" autocomplete="off"
                                            type="text"
                                            class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border"
                                            placeholder="Enter code sent to your phone"
                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                            onpaste="return false">
                                        <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                            <line x1="22" y1="2" x2="11" y2="13"></line>
                                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                        </svg>
                                    </div>
                                </div>

                                <button id="btn_sign" onclick="onSign()" type="button"
                                    class="btn btn-rounded-success w-24 mr-1 mb-2 mt-5"
                                    style="width: 100% !important;background-color: #6bab44;">Sign In</button>

                                <div class="text-center" style="color: #0870ca;">
                                    <a href="../forgot-password">Forgot your password?</a>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>


        </div>


        <script src="../views/client/dist/js/app.js"></script>
        <script src="../views/client/dist/js/home.js"></script>
</body>

</html>